body {
    background-color: rgb(236, 236, 236);
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Azeret Mono', monospace;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

.dark-mode {
    background-color: rgb(41, 41, 41);
    color: white;
}

.dark-mode-header {
    background-color: rgb(31, 31, 31) !important;
}


.dark-mode-switch {
    border: none;
    border-radius: 4px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 7px #999;
    height: 30px;
    width: 50px;
    margin: 15px;
    font-family: 'Azeret Mono', monospace;
    font-size: 1rem;
    font-weight: 900;
}

/* Header */

.header {
    overflow: hidden;
    padding: 20px 0;
    margin-bottom: 50px;
    background-color: rgb(218, 218, 218)
}

.header h3 {
    margin-top: 20px;
    float: left;
}

.header-right {
    float: right;
}

.header-mobile {
    float: right;
    display: none;
}

.dropdown-btn {
    float: right;
    margin: 15px 30px 20px;
    border:none;
    font-size: 1.3rem;
    /* background-color: #a9a9a9; */
    border-radius: 5px;
    width: 50px;
    height: 50px;
}



.dropdown-menu {
    display: none;
    cursor: pointer;
    text-align: right;
    padding-right: 25px;
    max-width: 100px;
}

.header-mobile:hover .dropdown-menu {
    display: block;
}



h3 {
    font-size: 1.5rem;
    padding: 0 20px;
    margin: 10px 20px;
}

footer {
    bottom: 20px;
    color: gray;
    position: fixed;
    width: 100%;
}


.select,
.button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 9px #999;
    height: 100px;
    width: 100px;
    margin: 10px;
    vertical-align: middle;
    font-weight: bold;
    color: black;
}


.app-display {
    font-size: 8vw;
    margin: 0 auto;
}

/* Clock CSS */

#clock-date {
    font-size: 4vw;
}

/* Timer Change Button */

.timer-change-button {
    height: 50px;
    width: 100px;
}

.timer-change-button:active,
.button:active,
.dark-mode-switch:active {
    background-color: rgb(197, 197, 197);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Metronome CSS */

#metronome-outer {
    width: 500px;
    height: 100px;
    background-color: rgb(197, 197, 197);
    margin: auto;
    border-radius: 10px;
}

#metronome-inner {
    width: 90px;
    height: 90px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px #999;
    border-radius: 10px;
    position: relative;
    top: 3px;
    margin: auto 4px;
}

#metronome-bpm-display {
    /* width: 25%; */
    padding: 10px
}

@media screen and (max-width: 1450px) {
    .select {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .metronome {
        scale: 35%;
        margin: auto;
    }
}